.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.btn-fill {
  white-space: normal;
  width: 100%;
  margin-bottom: 15px;
}

.bold {
  font-weight: 700;
}

.preview {
  margin: 15px;
  height: 150px;
}

@media (max-width: 991px) {
  .bold-title {
    font-weight: 700;
  }

  .row-header {
    display: none;
  }

  .data {
    padding: 2px;
  }

  .row-data {
    border: #eee 1px solid;
    margin-bottom: 10px;
  }

}

@media (min-width: 992px) {
  .bold-title {
    font-weight: normal;
  }

  .data {
    padding: 5px;
  }

  .row-header {
    font-weight: 700;
    border-bottom: 2px #777 solid;
  }

  .row-data {
    border-bottom: #eee 1px solid;
  }

}

input[type="file"]{
  display: none;
}

#map-canvas {
    height: 250px;
}

.btn-image {
  border-radius: 5px;
  display: inline-block;
  padding: 15px;
  cursor: pointer;
  background-color: #337ab7;
  color: #fff;
  margin: 5px
}
